.mapContainer {
  background: rgb(240, 250, 245);
  padding-top: 0.3em;
}

.heading {
  font-size: 3em;
  color: rgb(72, 125, 100);
  margin-bottom: 2vh;
  margin-left: 15vw;
}

.form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1.5em;
  margin-left: 15vw;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(86, 219, 130);
}

.form-group {
  margin-bottom: 3%;
  width: 100%;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}

input[type="checkbox"] {
  width: 2.5em;
  height: 2.5em;
  border: 2px solid rgb(86, 219, 130);
  border-radius: 30px;
  color: green;
  top: 10px;
  right: 2px;
}

input[type="checkbox"]::before {
  content: "✔";
  font-size: 2em;
  visibility: hidden;
  color: rgb(86, 219, 130);
}

input[type="checkbox"]:checked::before {
  visibility: visible;
}

.map {
  width: 70vw;
  height: 80vh;
  padding-left: 15vw;
  padding-bottom: 5vh;
}

@media (max-width: 770px) {
  .heading {
    font-size: 2em;
  }

  .form {
    font-size: 0.8em;
  }

  .form-group {
    width: 100%;
  }

  input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
  }

  input[type="checkbox"]::before {
    font-size: 1em;
  }

  .map {
    width: 70vw;
    height: 40vh;
    padding-left: 15vw;
    padding-bottom: 5vh;
  }
}
