.mapContainer {
  background: white;
  padding-top: 0.3em;
}

.heading {
  font-size: 3em;
  color: rgb(72, 125, 100);
  margin-bottom: 2vh;
  margin-left: 15vw;
}

.search {
  max-width: 400px;
  margin-bottom: 5%;
}

.search input {
  padding: 0.5rem;
  font-size: 1.25rem;
  width: 100%;
}

.option {
  padding: 0.5rem;
  font-size: 1.25rem;
  width: 100%;
}

.desc {
  color: rgb(0, 255, 174);
  margin-left: 15vw;
  font-size: 1.5em;
  width: 70vw;
  margin-top: 0;
}

.map {
  margin-bottom: 5%;
}

@media (max-width: 770px) {
  .heading {
    font-size: 2em;
  }
}
