nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 3vh;
  background: white;
  color: green;
  font-size: 1.5em;
  background: white;
}

.navLogo {
  width: 4.5em;
  height: 4.5em;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-item {
  color: green;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-item:hover {
  color: rgb(86, 219, 130);
}

@media (max-width: 770px) {
  nav {
    font-size: 1em;
    min-height: 2vh;
  }

  .nav-links {
    width: 50%;
  }
}
