.cards {
  background: white;
  padding: 0.5em;
  opacity: 90%;
}

.card {
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.1)
}

#quiz-header {
  text-align: center;
  font-size: 3em;
  color: rgb(72, 125, 100);
  margin-bottom: 1em;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  grid-auto-rows: minmax(150px, auto);
  align-items: center;
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: 10em;
  margin-right: 10em;
}

.container > div {
  width: 80%;
  height: 80%;
  background: rgb(86, 219, 130);
  color: white;
  text-align: center;
  padding: 1em;
}

.container > div:nth-child(odd) {
  background: rgb(105, 205, 245)
}

@media (max-width: 770px) {
  #quiz-header {
    font-size: 2em;
  }

  .container {
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: repeat(2, 1fr);
    margin: 2%;
    font-size: 0.7em;
    padding-left: 1em;
  }

  .container > div {
    width: 70%;
    height: 70%;
    padding: 10%;
  }
}
